<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            category="com.sap.adt.views"
            class="com.abapblog.classicOutline.views.View"
            icon="platform:/plugin/org.eclipse.ui.views/icons/full/eview16/outline_co.png"
            id="com.abapblog.classicOutline.view"
            inject="false"
            name="Classic Outline"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.abapblog.classicOutline.preferences.PreferenceInitilizer">
      </initializer>
   </extension>
   <extension
         point="com.sap.adt.destinations.logonListeners">
      <listener
            class="com.abapblog.classicOutline.views.LogonListenerHandler">
      </listener>
   </extension>
      <extension
         point="com.sap.adt.tools.abapsource.ui.processAfterSourcePageLoaded">
      <class
            name="com.abapblog.classicOutline.views.AbapPageLoadListener">
      </class>
   </extension>
      <extension
         point="com.sap.adt.activation.ui.activationSuccessListener">
      <onActivationSuccess
            class="com.abapblog.classicOutline.views.ActivationSuccessListenerHandler">
      </onActivationSuccess>
   </extension>
      <extension
            point="org.eclipse.ui.menus">
         <menuContribution
               allPopups="false"
               locationURI="toolbar:com.abapblog.classicOutline.view">
            <command
                  commandId="com.abapblog.classicOutline.RefreshView"
                  icon="platform:/plugin/org.eclipse.ui.browser/icons/clcl16/nav_refresh.png"
                  label="Refresh"
                  style="push">
            </command>
            <command
                  commandId="com.abapblog.classicOutline.ExpandAll"
                  icon="platform:/plugin/org.eclipse.ui.editors/icons/full/elcl16/expandall.png"
                  label="Expand All"
                  style="push">
            </command>
            <command
                  commandId="com.abapblog.classicOutline.CollapseAll"
                  icon="platform:/plugin/org.eclipse.ui.editors/icons/full/elcl16/collapseall.png"
                  label="Collapse All"
                  style="push">
            </command>
         </menuContribution>
         <menuContribution
               allPopups="false"
               locationURI="popup:com.abapblog.classicOutline.view">
            <command
                  commandId="com.abapblog.classicOutline.RunATC"
                  icon="platform:/plugin/com.sap.adt.atc.ui/icons/etool/AbapTestCockpit.png"
                  label="Run ATC"
                  style="push">
            </command>
            <command
                  commandId="com.abapblog.classicOutline.RunUnitTest"
                  icon="platform:/plugin/com.sap.adt.tools.abapsource.ui/icons/view/aunit_view.png"
                  label="Run Unit Tests"
                  style="push">
            </command>
            <command
                  commandId="com.abapblog.classicOutline.RunUnitTestCoverage"
                  icon="platform:/plugin/com.sap.adt.tools.abapsource.ui/icons/view/aunit_view.png"
                  label="Run Unit Tests with Coverage"
                  style="push">
            </command>
         </menuContribution>
         <menuContribution
               allPopups="false"
               locationURI="menu:com.abapblog.classicOutline.view">
            <command
                  commandId="com.abapblog.classicOutline.ReleaseInfo"
                  icon="platform:/plugin/org.eclipse.ui/icons/full/obj16/info_tsk.png"
                  label="Release Info"
                  style="push">
            </command>
            <command
                  commandId="com.abapblog.classicOutline.openGithub"
                  icon="media/github.png"
                  label="Feedback, Bugs &amp; Enhancements"
                  style="push">
            </command>
            <command
                  commandId="com.abapblog.classicOutline.buyABeer"
                  icon="media/beer.png"
                  label="Buy Me a Beer"
                  style="push">
            </command>
            <command
                  commandId="com.abapblog.classicOutline.openPreferences"
                  icon="media/preferences.png"
                  label="Preferences"
                  style="push">
            </command>
         </menuContribution>
      </extension>
      <extension
            point="org.eclipse.ui.commands">
         <command
               defaultHandler="com.abapblog.classicOutline.views.commands.RefreshViewHandler"
               id="com.abapblog.classicOutline.RefreshView"
               name="Force tree refresh">
         </command>
         <command
               defaultHandler="com.abapblog.classicOutline.views.commands.RunATC"
               id="com.abapblog.classicOutline.RunATC"
               name="Run ATC">
         </command>
         <command
               defaultHandler="com.abapblog.classicOutline.views.commands.ExpandAll"
               id="com.abapblog.classicOutline.ExpandAll"
               name="Expand All">
         </command>
         <command
               defaultHandler="com.abapblog.classicOutline.views.commands.CollapseAll"
               id="com.abapblog.classicOutline.CollapseAll"
               name="Collapse All">
         </command>
         <command
               defaultHandler="com.abapblog.classicOutline.views.commands.RunUnitTests"
               id="com.abapblog.classicOutline.RunUnitTest"
               name="Run Unit Tests">
         </command>
         <command
               defaultHandler="com.abapblog.classicOutline.views.commands.RunUnitTestsWithCoverage"
               id="com.abapblog.classicOutline.RunUnitTestCoverage"
               name="Run Unit Tests With Coverage">
         </command>
         <command
               defaultHandler="com.abapblog.classicOutline.views.commands.ShowReleaseInfo"
               id="com.abapblog.classicOutline.ReleaseInfo"
               name="Show Release Info">
         </command>
         <command
               defaultHandler="com.abapblog.classicOutline.views.commands.OpenGithub"
               id="com.abapblog.classicOutline.openGithub"
               name="Feedback, Bugs &amp; Enhancements">
         </command>
         <command
               defaultHandler="com.abapblog.classicOutline.views.commands.BuyMeABeer"
               id="com.abapblog.classicOutline.buyABeer"
               name="Buy Me a Beer">
         </command>
         <command
               defaultHandler="com.abapblog.classicOutline.views.commands.openPreferences"
               id="com.abapblog.classicOutline.openPreferences"
               name="Preferences">
         </command>
      </extension>
      <extension
            point="org.eclipse.ui.preferencePages">
         <page
               category="com.sap.adt.tools.core.ui.preferencePages.ABAP"
               class="com.abapblog.classicOutline.preferences.PreferencePage"
               id="com.abapblog.classicOutline.preferences.PreferencesPage"
               name="Classic Outline">
         </page>
      </extension>

      <extension
            point="org.eclipse.ui.editors">
         <editor
               class="com.abapblog.classicOutline.release.notes.ReleaseNotesEditor"
               default="false"
               icon="media/co16x16.png"
               id="com.abapblog.classicOutline.release.notes.editor"
               name="Classic Outline Release Notes">
         </editor>
      </extension>
      <extension
            point="org.eclipse.ui.startup">
         <startup
               class="com.abapblog.classicOutline.release.notes.Startup">
         </startup>
      </extension>
      <extension
            point="org.eclipse.ui.elementFactories">
         <factory
               class="com.abapblog.classicOutline.release.notes.EditorInputPersistant"
               id="com.abapblog.classicOutline.release.notes.EditorInputPersistant">
         </factory>
      </extension>
</plugin>
